[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "public"]
	path = public
	url = git@github.com:xiaoyunyang/xiaoyunyang.github.io.git
