[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "public"]
	path = public
	url = git@github.com:xiaoyunyang/xiaoyunyang.github.io.git
