html {
    font-family: "Chalkboard SE";
}
img {
    width: 100%;
}

.section-heading {
    margin-top: 20px;
    position: relative;
    padding-top: 5%;
    padding-bottom: 20%;
}
.section-video {
    padding-top: 2%;
    padding-bottom: 5%;
}
.section-heading img {
    height: 100%;
    width: 80%;    
}

.section-content {
    padding-top: 30px;
    padding-bottom: 20px;
}
.social-icons a {
    color: #f5f5f5;
    padding-right: 5px;
}


/* Customize Color from the noUi-connect.css */
.noUi-connect {
    background:  #81c784;
}

/* Customize Parallex Header */
.header {
    color: #388e3c;
    font-weight: 300;
}
