#piechart {
	width: 600px;
	height: 480px;
}

#pie-svg{
	width: 600px;
	height: 400px;
}
path.slice{
	stroke-width:2px;
	cursor: pointer;
}

path.selected-bordered {
	stroke: #E6E6E6;
	stroke-width: 0px;
}
path.clicked-bordered {
	stroke: #424242;
	stroke-width: 0px;
}
path.slice:hover {  opacity:0.8; }

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
