<a target="_blank" href="https://www.buymeacoffee.com/xiaoyunyang" 
  data-tooltip="Buy me a coffee!"
  id="bmc-wbtn" 
  style="display: flex; align-items: center; justify-content: center; width: 64px; height: 64px; background: rgb(255, 129, 63); color: white; border-radius: 32px; position: fixed; right: 18px; bottom: 18px; box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px; z-index: 999; cursor: pointer; font-weight: 600; transition: all 0.2s ease 0s; transform: scale(1);"><img src="https://cdn.buymeacoffee.com/widget/assets/coffee%20cup.svg" 
  alt="Buy Me A Coffee" 
  style="height: 40px; width: 40px; margin: 0; padding: 0;"
></a>
