@import url("materialize.min.css");
@import url("map.css");
@import url("pie.css");
@import url("../font/font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
    font-family: "Helvetica Neue";
}
img {
    width: 100%;
}
html, body {
  height: 100%;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.page-wrap {
  min-height: 76%;
  /* equal to footer height */
}
footer.theme-color {
    background-color: #00897b;
}
.section-heading {
    margin-top: 20px;
    position: relative;
    padding-top: 5%;
    padding-bottom: 20%;
}
.section-video {
    padding-top: 2%;
    padding-bottom: 5%;
}
.section-heading img {
    height: 100%;
    width: 80%;
}

.section-content {
    padding-top: 30px;
    padding-bottom: 20px;
}
.social-icons a {
    color: #f5f5f5;
    padding-right: 5px;
}


/* Customize Color from the noUi-connect.css */
.noUi-connect {
    background:  #81c784;
}

/* Customize Parallex Header */
.header {
    color: #388e3c;
    font-weight: 300;
}


/* offset your content by the width of the side menu. */
header, main, footer {
    padding-left: 240px;
}
.main-content {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .main-content {
        padding-left: 0;
    }
}


.perm.side-nav .collapsible-header {
    font-size: 20px;
    line-height: 45px;
    margin-left: 0px;
    margin-right: 0px;
}

.side-nav li:hover {
    background-color: #eeeeee;
    color: #383435;
}
.side-nav li.active {
    background-color: #fafafa;
    color: #383435;
}

.side-nav li.active .collapsible-body li{
    color: #fafafa;
}
.side-nav.fixed a {
    color: white;
}

.perm.side-nav {
    background-color: #383435;
    color: #eeeeee;
}
.side-nav .collection.with-header {
    border: none;
}
.side-nav .collection-item {
    border: none;
}
.side-nav .collection.with-header .collection-header {
    font-size: 20px;
    color: #eeeeee;
    background-color: #00897b;
    border: none;
}
.side-nav .collection.with-header .collection-item {
    margin-left: 0px;
    padding: 0px;
}
.side-nav .collection.with-header .collection-item a {
    margin-left: 12px;
    margin-right: 0px;
    border: none;
    font-size: 14px;
}
.side-nav .fixed .collection {
    border: none;
}
.side-nav .collection.with-header .collection-item a:hover {
    background-color: #9e9e9e;
}
.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color: #383435;
}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background-color: #9e9e9e;
}
.side-nav .collapsible-body li {
    padding-left: 30px;
    background-color: #383435;
}
.perm.side-nav a {
    color: white
}
.side-nav a:hover {
    color: #383435;
}
.nav-wrapper {
    background-color:#00897b;
}

.ll-listing a {
    font-size: 20px;
}
